/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

div.container{
    max-width: 60em;
    margin: auto;
    background-color:rgb(250,250,250);
}

body{
    background-color: rgb(221,221,221);
}

figure{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

img {
    width: 100%; /*Please leave this line.*/
     grid-column: 1/5;
}
main{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    grid-column-gap: 2em;
}

h1{
    background-color:rgb(229,136,24);
    Color:rgb(250,250,250);
    font-size: 2em;
    padding: 1.4em .5em .5em;
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
}
h2{
    background-color:rgb(229,136,24);
    Color:rgb(245,221,188);
    font-size: 1.8em;
    padding: 0.05em .6em 0.5em;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
}
figcaption{
    background-color:rgb(250,250,250);
    Color:rgb(0,0,0);
    font-size: 1em;
    padding: 1em 1.5em 1.5em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;

}
h3{
    background-color:rgb(250,250,250);
    Color:rgb(230,145,42);
    font-size: 1.2em;
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    text-transform: uppercase;
    border-top: 2px solid rgb(230,145,42);
    margin: 2.5em .5em .5em;
    padding-top:1em;
}

ul{
    background-color:rgb(250,250,250);
    Color:rgb(0,0,0);
    padding: .5em 1.5em 1em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}
li{
    padding: .5em .2em .5em;
}
ol{
    background-color:rgb(250,250,250);
    Color:rgb(0,0,0);
    padding: .5em 1.5em 1.5em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

p{
    background-color:rgb(229,136,24);
    Color:rgb(238,238,238);
    font-size: .8em;
    padding: 1em 1.5em 1.5em;
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */